doctype html
html

  head
    title Results Dashboard
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='https://cdn.plot.ly/plotly-latest.min.js')

  body(onload="plot()")
    include ./navbar.pug
    div.container-fluid
      div.row
        div.col-md-12(style="text-align:center;")
          h1 Dashboard
          p Be aware you need to be logged in your account to download the files
          a(href=link) Download your results
          br
          div(style='margin=15px; text-align:left')
            p Aggregate Results
              input#aggregation(type="checkbox", style="position:sticky", onchange="plot()")
          
          h3(style='text-align: left;') Proportion of success
          div(style="width:75%;height:450px;", id='prop-success')
          h3(style='text-align: left;') Average Execution time of cloudlets
          div(style="width:75%;height:450px;", id='cloudlet-time')
          h3(style='text-align: left;') Average response time
          div(style="width:75%;height:450px;", id='response-time')
        script.
          
          var execTime = JSON.parse(!{JSON.stringify(exec_time)});
          var cloudlet = JSON.parse(!{JSON.stringify(cloudlet)});
          var responseTime = JSON.parse(!{JSON.stringify(response_time)});
          var success = [#{success}];
          var failure = [#{failure}];
          var alg_names = !{JSON.stringify(names)};
        script
          include dash.js
          
