doctype html
html

   head
      include ./meta_config.pug

      title "Simulation Compare"
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
      script
        include ../public/js/bootstrap.min.js
      script
        include ../public/js/database.js
      link(rel='stylesheet', href='/css/bootstrap.min.css')
      link(rel='stylesheet', href='/css/style.css')
      link(rel='stylesheet', href='/css/algorithm.css')

   body.index

      include ./navbar.pug

      div.container-fluid

        div.row
          div.col-md-12
            img(src='images/compare.png', style='height: 100px; width: auto;')
            h1 Compare your algorithm

            form#simulation-form(method="post", action='/simulation_compare_run')
              p Choose your algorithm
              br
              br
              select(name='algorithm_selector')
                option=""
                each algorithm in algorithms
                  option=algorithm
              br
              p Choose the number of algorithms to compare (Between 2 and 5)
              br 
              br
              input(type="range", min="2", max="5", value="1", class="slider", id="numAlg", name="numAlg", onchange="slider()")
              
              div#algorithms_for_comparison
                p Choose the algorithm you want to compare to
                br 
                br
                select(name='published_selector')
                  option=""
                  each algo in published
                    option=algo
              div#space_for_more
              br
              //div(style="padding: 15px;") I want to use the parameters of the publication
                input#checkbox_parameters(type="checkbox", style="position:sticky; padding-left:10px;", name="checkbox_parameters", onclick="parameterSelection('checkbox_parameters', 'parameters_user')")

              div#parameters_user
                p Choose your parameters
                br 
                br
                select(name='parameters_selector', onchange="showParameters(this.value)")
                  option=""
                  each parameter in parameters
                    option=parameter
                div#param
                  p The parameters selected will be shown here

              div.col-md-12
                input.btn.btn-success(type="submit", value="Finish", style="width: 15%; background-color: #243665; border: none; text-align:center")
