doctype html
html

  head
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script
      include ../public/js/bootstrap.min.js
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')

  body
    include ./navbar.pug
    div.container-fluid
      div.row
        div.col-md-12(style="text-align:center;")
          h1 #{name}
          hr(style="border-color:#243665")
          div.col-md-6(style='float:left; padding:50px;')
            img(src=profile_picture, style="width:300px; height:300px;")
            br
            br
            h5 Institution: #{inst}
          div
            p(style='padding:20px;margin-left:25px; text-align:justify') #{bio}
          div.col-md-6
            h2(style='text-align:left') Public Algorithms
            ul(style='text-align:left')
             each val in algos
              li.list-group-item
                a(href="algorithm_info?id=" + val.id)= val.name + ' v' + val.version
              br